* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* || Header section  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: cornflowerblue;
}

.nav-menu {
  display: flex;
}

.menu-item {
  padding: 0.5rem;
  min-width: 8rem;
  text-align: center;
}

#clock {
  text-align: right;
}

.menu-item:hover {
  background-color: cadetblue;
}

/* || Page section  */
.section-page {
  min-height: 80vh;
  padding: 1rem 2rem;
}

#library-section {
  background-color: coral;
}

#book-form-section {
  background-color: aquamarine;
}

#contact-section {
  background-color: darkorchid;
  text-align: center;
}
/* Books section  */
#book-list {
  width: 90%;
  margin: auto;
}

.book-item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

.book-item:nth-child(even) {
  background-color: beige;
}

.remove-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

/* Form section  */
#book-form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: solid 1px;
  border-radius: 1rem;
  background-color: white;
}

#add-btn {
  align-self: flex-end;
  width: 40%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: blueviolet;
  color: white;
  border-radius: 0.25rem;
}

input {
  padding: 0.5rem;
}

::placeholder {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

#add-btn:hover {
  background-color: magenta;
}

/* || Footer section  */
footer {
  background-color: darkslategrey;
  text-align: center;
  padding: 2rem;
  color: white;
}
